html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

}

.description {
    font-size: 1.2em;
    font-family: 'Times New Roman', serif;
    color: white;
    margin-top: 60px;
    padding-top: 0%;
    padding-left: 2%;
    max-width: 40%;
    float: right; /* Add this line to float the element to the right */
    margin-right: 1%;
}

.highlight-text {
    font-weight: bold;
    color: #bb02a8;
}

.bg-image {
    color: lightslategray;
}

.auto {
    color: #004076;
    font-weight:600;
    font-size: 40px; /* Adjust the size as needed */
    text-transform: uppercase; /* Convert text to uppercase */
}


/* Add responsive styles as needed */
@media screen and (max-width: 768px) {
    .description {
        padding-top: 10%;
        padding-left: 2%;
        max-width: 65%;
        font-size: 1em;
    }

    .auto {
        font-size: 25px;
    }

}