{% set show_start_button = true %}
{% include 'header1.html' %}
<section class="ftco-section background-image"
 style="background-image: url('../static/images/mybg.PNG'); ">

 <p class="description">
    <span class="auto">Smart Cataract Detection</span><br>
    Cutting-edge technology for swift and accurate cataract detection. Using advanced algorithms and AI, it streamlines screening for precise results, advancing eye care through early detection. Experience the future of cataract diagnosis with our powerful system.
    </p>
    
</section>
{% include 'footer.html' %}
